@import './loader';

body {
  background: linear-gradient(
    320deg,
    rgb(252, 234, 159) 19%,
    rgb(135, 252, 242) 92%
  );
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  font-family: 'PT Serif', serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(21, 21, 21);
}
h2 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
}
h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
img {
  width: 150px;
}
h3 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  margin-bottom: 4px;
}

.main {
  margin-top: 24px;
  max-width: 1024px;
  background-image: url(../src/image/background/cloudy.jpg),
    linear-gradient(145deg, rgb(234, 132, 201) 0%, rgb(166, 141, 227) 95%);
  background-size: cover;
  padding: 16px;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.form {
  width: auto;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.forcast {
  color: #89147a;
}
/* .button-close {
  margin-left: 10px;
  padding: 15px;
} */
.date {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
}
.time {
  margin-bottom: 4px;
  font-size: 16px;
}
.card-weather {
  box-shadow: 5px 8px 8px rgba(63, 7, 57, 0.6);
}
.temp {
  font-size: 58px;
}
.units {
  font-size: 30px;
}

.by-line {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-shadow: 5px 7px 6px rgba(12, 12, 12, 0.4);
}
.link {
  color: #d405ba;
  transition: color 250ms ease-in-out;
}
.link:hover {
  color: #0d6efd;
}
.card-temp {
  display: flex;
  justify-content: center;
  /* text-align: center; */
}
.card-temp-max {
  margin-right: 4px;
  color: #89147a;
}
.card-temp-min {
  color: rgba(137, 20, 122, 0.5);
}
.city-style {
  background-color: rgba(13, 110, 253, 0.5);
}
.current-style {
  background-color: rgba(13, 202, 240, 0.5);
}

.is-hidden {
  display: none;
}
